<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>
  <div class="field">
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>
