<%= form_with(model: header, local: true) do |form| %>
  <% if header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(header.errors.count, "error") %> prohibited this header from being saved:</h2>

      <ul>
        <% header.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_area :value %>
  </div>

  <div class="field">
    <%= form.label :mock_id %>
    <%= form.text_field :mock_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
