<p id="notice"><%= notice %></p>
<p>
  <strong>Partner:</strong>
  <%= @external_api.partner.name %>
</p>

<p>
  <strong>API:</strong>
  <%= @external_api.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @external_api.description %>
</p>


<p>
  <strong>Endpoints:</strong>
  <%= render 'endpoints/endpoint_list', endpoints: @external_api.endpoints %>
</p>

<%= link_to 'Edit', edit_external_api_path(@external_api) %> |
<%= link_to 'Back', external_apis_path %>
